.question-card__answers {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.question-card__actions {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

@media (max-width: 48rem) {
    .question-card__actions {
        flex-direction: column-reverse;
    }

    .question-card__actions button {
        width: 100%;
    }
}